<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Acerca</h2>
                    <h3 class="section-subheading text-muted">Nuestra mision y vision.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR20jrfuyx4vx25_l_PkEp7JkN1tG-ibdmiUw&usqp=CAU" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Mision</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Satisfacer las necesidades de belleza de nuestros clientes mediante servicios de excelencia en calidad, brindado por personal altamente profesional que inspira confianza y seriedad, permitiéndonos superar las expectativas de nuestros clientes.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://i.pinimg.com/originals/aa/f8/ec/aaf8ec57ccf62e13fbcd5a48bfa1d4f3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">Vision</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Llegar a ser líderes en la satisfacción de necesidades de belleza a nivel nacional.
Incursionar en el mercado internacional.</p>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
