<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">¿Que te ofrecemos?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="https://image.flaticon.com/icons/png/512/32/32069.png" style="
    border-style: groove;
    width: 110px;
    border-radius: 60px;
">
                    </span>
                    <h4 class="service-heading">Cortes de Cabello</h4>
                    <p class="text-muted">Somos una peluqueria unisex, donde ofrecemos servicio de corte de cabello tanto para hombres como mujeres.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="https://img2.freepng.es/20181113/sxc/kisspng-hair-dryers-vector-graphics-royalty-free-illustrat-servicesicon-hair-graphics-5beb800ba8c7f1.9498012615421603956913.jpg" style="
    border-style: groove;
    width: 110px;
    border-radius: 60px;
">
                    </span>
                    <h4 class="service-heading">Tratamientos</h4>
                    <p class="text-muted">Ofrecemos tratamientos para mantener o arreglar tu cabello.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="https://i.pinimg.com/736x/f5/2a/d0/f52ad076790fbea65693064efade82fe.jpg" style="
    border-style: groove;
    width: 110px;
    border-radius: 60px;
">
                    </span>
                    <h4 class="service-heading">Otros...</h4>
                    <p class="text-muted">Ofrecemos servicios de maquillaje profesional, pintado de uñas, entre otras cosas mas...</p>
                </div>
            </div>
        </div>
    </section>